.header__open-menu-button {
  position: absolute;
  top: 19px;
  right: 0;
  display: none;
}
@media screen and (max-width: 1200px) {
  .header__open-menu-button {
    display: block;
  }
}
@media screen and (max-width: 650px) {
  .header__open-menu-button {
    top: 14px;
  }
}
