.search__container {
  position: relative;
}

.search__title {
  font-family: 'IBMPlexSerif', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 1.5px;
  margin: 0 0 24px 0;
  padding: 0;
  color: #005596;
  text-transform: uppercase;
}

@media screen and (max-width: 650px) {
  .search__title {
    font-size: 24px;
    line-height: 32px;
  }
}

.search__form {
  position: absolute;
  top: 44px;
  right: 0;
  width: 352px;
  height: 32px;
}

@media screen and (max-width: 860px) {
  .search__form {
    width: 200px;
  }
}

@media screen and (max-width: 710px) {
  .search__form {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 0 32px 0;
  }
}

.search__form-input {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 0;
  padding: 5.5px 9px 5.5px 33px;
  color: #333333;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #005596;
  border-radius: 4px;
  height: 32px;
}
.search__form-input::placeholder {
  color: #569fd3;
}
.search__form-input:focus {
  outline: none;
  box-shadow: inset 0px 0px 5px #569fd3;
}

.search__form-input-label {
  position: absolute;
  top: 9px;
  left: 10px;
  background-image: url('../images/magnifier.svg');
  width: 14px;
  height: 14px;
}

.search__filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 660px;
  height: fit-content;
}

@media screen and (max-width: 710px) {
  .search__filters {
    width: 100%;
  }
}

.search__filter {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  color: #fff;
  padding: 8px 16px;
  margin: 0 8px 14px 0;
  background: #569fd3;
  border-radius: 16px;
  border: none;
  box-sizing: border-box;
}

.search__filter_active {
  margin: 0 8px 14px 0;
  background: #005596;
}

.search__filter_large {
  font-size: 18px;
  line-height: 18px;
}

.blog__grid {
  padding: 20px 0 0 0;
}

.pagination {
  margin: 0 0 66px 0;
}

.pagination__container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pagination__btn {
  width: 56px;
  height: 56px;
  padding: 0;
}

.pagination__btn:last-of-type {
  margin: 0;
}

.pagination__btn_disabled {
  cursor: default;
  filter: grayscale(80%);
}

.pagination__btn_disabled:hover {
  opacity: 1;
}

.pagination__btn-prev {
  background-image: url('../images/pagination-button.svg');
  rotate: 180deg;
  margin: 0 24px 0 0;
}

@media screen and (max-width: 650px) {
  .pagination__btn-prev {
    margin: 0 12px 0 0;
  }
}

.pagination__btn-next {
  background-image: url('../images/pagination-button.svg');
}

.pagination__pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__page {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  color: #005596;
  padding: 16px;
  margin: 0 24px 0 0;
  background: #96d3ff;
  border-radius: 24px;
  border: none;
  box-sizing: border-box;
}

@media screen and (max-width: 650px) {
  .pagination__page {
    margin: 0 12px 0 0;
  }
}

.pagination__page_active {
  color: #fff;
  background: #569fd3;
}

.pagination__dots {
  background: none;
  padding: 0;
}
