@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(./blocks/link/link.css);
@import url(./blocks/button/button.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__logo-container/header__logo-container.css);
@import url(./blocks/header/__logo-text/header__logo-text.css);
@import url(./blocks/header/__phone-number-and-navigation/header__phone-number-and-navigation.css);
@import url(./blocks/header/__phone-number/header__phone-number.css);
@import url(./blocks/header/__phones/header__phones.css);
@import url(./blocks/header/__phone-number/_underline/header__phone-number_underline.css);
@import url(./blocks/header/__navigation/header__navigation.css);
@import url(./blocks/header/__navigation-list/header__navigation-list.css);
@import url(./blocks/header/__navigation-item/header__navigation-item.css);
@import url(./blocks/header/__navigation-item-link/header__navigation-item-link.css);
@import url(./blocks/header/__navigation-item-link/_active/header__navigation-item-link_active.css);
@import url(./blocks/header/__youtube-and-lang-switch/header__youtube-and-lang-switch.css);
@import url(./blocks/youtube-link/youtube-link.css);
@import url(./blocks/youtube-logo-path/youtube-logo-path.css);
@import url(./blocks/youtube-logo/youtube-logo.css);
@import url(./blocks/header/__lang-switch/header__lang-switch.css);
@import url(./blocks/header/__lang/header__lang.css);
@import url(./blocks/header/__lang/_active/header__lang_active.css);
@import url(./blocks/header/__open-menu-button/header__open-menu-button.css);
@import url(./blocks/main/main.css);

@import url(./blocks/section/section.css);
@import url(./blocks/container/container.css);

@import url(./blocks/section/__text/section__text.css);
@import url(./blocks/section/__title/section__title.css);
@import url(./blocks/section/__subtitle/section__subtitle.css);

@import url(./blocks/read-blog/read-blog.css);
@import url(./blocks/read-blog/__title/read-blog__title.css);
@import url(./blocks/grid/grid.css);
@import url(./blocks/grid/__card/grid__card.css);
@import url(./blocks/grid/__card-link/grid__card-link.css);
@import url(./blocks/grid/__img/grid__img.css);
@import url(./blocks/grid/__card-title/grid__card-title.css);

@import url(./blocks/contactbox/contactbox.css);
@import url(./blocks/contactbox/__container/contactbox__container.css);
@import url(./blocks/contactbox/__title/contactbox__title.css);
@import url(./blocks/contactbox/__form/contactbox__form.css);
@import url(./blocks/contactbox/__fieldset/contactbox__fieldset.css);
@import url(./blocks/contactbox/__user-info/contactbox__user-info.css);
@import url(./blocks/contactbox/__user-data/contactbox__user-data.css);
@import url(./blocks/contactbox/__user-name/contactbox__user-name.css);
@import url(./blocks/contactbox/__user-email/contactbox__user-email.css);
@import url(./blocks/contactbox/__user-message/contactbox__user-message.css);
@import url(./blocks/contactbox/__send-options/contactbox__send-options.css);
@import url(./blocks/contactbox/__checkbox-container/contactbox__checkbox-container.css);
@import url(./blocks/contactbox/__checkbox/contactbox__checkbox.css);
@import url(./blocks/contactbox/__checkbox-label/contactbox__checkbox-label.css);
@import url(./blocks/contactbox/__checkbox-rules-link/contactbox__checkbox-rules-link.css);
@import url(./blocks/contactbox/__submit-btn/contactbox__submit-btn.css);
@import url(./blocks/contactbox/__submit-btn-text/contactbox__submit-btn-text.css);
@import url(./blocks/carousel/_margin/carousel_margin_zero.css);
@import url(./blocks/carousel/carousel.css);
@import url(./blocks/carousel/__container/carousel__container.css);
@import url(./blocks/carousel/__btn/carousel__btn.css);
@import url(./blocks/carousel/__btn-prev/carousel__btn-prev.css);
@import url(./blocks/carousel/__galery/carousel__galery.css);
@import url(./blocks/carousel/__galery-list/carousel__galery-list.css);
@import url(./blocks/carousel/__galery-item/carousel__galery-item.css);
@import url(./blocks/carousel/__galery-item-link/carousel__galery-item-link.css);
@import url(./blocks/carousel/__galery-logo/carousel__galery-logo.css);
@import url(./blocks/carousel/__btn-next/carousel__btn-next.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__container/footer__container.css);
@import url(./blocks/footer/__logo/footer__logo.css);
@import url(./blocks/footer/__text-container/footer__text-container.css);
@import url(./blocks/footer/__navigation/footer__navigation.css);
@import url(./blocks/footer/__navigation-list/footer__navigation-list.css);
@import url(./blocks/footer/__navigation-item/footer__navigation-item.css);
@import url(./blocks/footer/__navigation-item-link/footer__navigation-item-link.css);
@import url(./blocks/footer/__adress/footer__adress.css);
@import url(./blocks/footer/__adress-post/footer__adress-post.css);
@import url(./blocks/footer/__adress-phone/footer__adress-phone.css);
@import url(./blocks/footer/__copyright-and-external-links/footer__copyright-and-external-links.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/footer/__youtube-link/footer__youtube-link.css);
@import url(./blocks/menu/menu.css);
@import url(./blocks/menu/_opened/menu_opened.css);
@import url(./blocks/menu/__container/menu__container.css);
@import url(./blocks/menu/__container/_opened/menu__container_opened.css);
@import url(./blocks/menu/__top/menu__top.css);
@import url(./blocks/menu/__logo-container/menu__logo-container.css);
@import url(./blocks/menu/__logo-img/menu__logo-img.css);
@import url(./blocks/menu/__logo-text/menu__logo-text.css);
@import url(./blocks/menu/__top-right/menu__top-right.css);
@import url(./blocks/menu/__phone/menu__phone.css);
@import url(./blocks/menu/__youtube-link/menu__youtube-link.css);
@import url(./blocks/menu/__lang-switch/menu__lang-switch.css);
@import url(./blocks/menu/__lang-switch-front/menu__lang-switch-front.css);
@import url(./blocks/menu/__lang-switch-front/_right/menu__lang-switch-front_right.css);
@import url(./blocks/menu/__lang/menu__lang.css);
@import url(./blocks/menu/__lang/_active/menu__lang_active.css);
@import url(./blocks/menu/__close-btn/menu__close-btn.css);
@import url(./blocks/menu/__navigation/menu__navigation.css);
@import url(./blocks/menu/__navigation-list/menu__navigation-list.css);
@import url(./blocks/menu/__navigation-item/menu__navigation-item.css);
@import url(./blocks/menu/__navigation-btn/menu__navigation-btn.css);
@import url(./blocks/menu/__youtube-link-large/menu__youtube-link-large.css);
@import url(./blocks/menu/__youtube-logo-large/menu__youtube-logo-large.css);
@import url(./blocks/menu/__copyright/menu__copyright.css);

.marinas-header {
  position: relative;
  padding: 64px 0;
  height: 248px;
  box-sizing: border-box;
}
@media screen and (max-width: 650px) {
  .marinas-header {
    padding: 24px 0 0 0;
    height: fit-content;
  }
}

.marinas-header__image {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/marinas-background.png');
  width: 100%;
  height: 248px;
  z-index: -1;
}
@media screen and (max-width: 650px) {
  .marinas-header__image {
    display: none;
  }
}
.marinas-header__image::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #005596 0%, rgba(0, 85, 150, 0) 100%);
}

.marinas-header__title {
  font-family: 'IBMPlexSerif', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 1.5px;
  margin: 0;
  padding: 0;
  color: #fff;
  text-transform: uppercase;
}
@media screen and (max-width: 650px) {
  .marinas-header__title {
    font-size: 24px;
    line-height: 32px;
    color: #005596;
  }
}

.marinas-lead {
  margin: 0;
  padding: 32px 0 0 0;
  box-sizing: border-box;
}

.marinas-project__container {
  padding: 40px 0 0 0;
}

.marinas-project__title {
  margin: 0 0 64px 0;
}

.marinas-project__grid {
  gap: 60px;
  grid-auto-rows: 150px;
  align-self: center;
}

.marinas-project__grid-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  transition: none;
}

.marinas-project__grid-card:hover {
  transform: none;
}

.marinas-project__grid-img {
  width: 130px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
}

.marinas-project__grid-img-one {
  background-image: url('../images/marinas-project__grid-img-one.svg');
}

.marinas-project__grid-img-two {
  background-image: url('../images/marinas-project__grid-img-two.svg');
}

.marinas-project__grid-img-three {
  background-image: url('../images/marinas-project__grid-img-three.svg');
}

.marinas-project__grid-img-four {
  background-image: url('../images/marinas-project__grid-img-four.svg');
}

.marinas-project__grid-img-five {
  background-image: url('../images/marinas-project__grid-img-five.svg');
}

.marinas-project__grid-img-six {
  background-image: url('../images/marinas-project__grid-img-six.svg');
}

.marinas-project__grid-item-text {
  font-family: 'IBMPlexSerif', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  color: #005596;
  text-transform: uppercase;
  text-align: center;
  max-width: 260px;
}

.section__list {
  margin-top: 0;
  margin-bottom: 0;
}

.marinas-full-set__container {
  padding: 56px 0 0 0;
}

.marinas-breeze__container {
  padding: 40px 0 0 0;
}

.read-blog__container {
  padding: 70px 0 0 0;
}
