.header__phones {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__phone-number_underline {
    font-weight: 400;
    text-decoration: underline dashed;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 32px 0 0 0;
  /* width: calc((1120 / 1440) * 100%); */
  width: 1120px;
}
@media screen and (max-width: 1300px) {
  .container {
    width: 83%;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: calc((1069 / 1133) * 100%);
  }
}
@media screen and (max-width: 650px) {
  .container {
    width: 91%;
    padding: 24px 0 0 0;
  }
}

.piers-header {
  position: relative;
  height: 248px;
  box-sizing: border-box;
}
@media screen and (max-width: 650px) {
  .piers-header {
    height: fit-content;
  }
}

.piers-header__container {
  padding: 64px 0 0 0;
}

@media screen and (max-width: 650px) {
  .piers-header__container {
    padding: 24px 0 0 0;
  }
}

.piers-header__title {
  font-family: 'IBMPlexSerif', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 1.5px;
  margin: 0;
  padding: 0;
  color: #fff;
  text-transform: uppercase;
}
@media screen and (max-width: 650px) {
    .piers-header__title {
        font-size: 24px;
        line-height: 32px;
        color: #005596;
      }
}
.piers-header__image {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(695ce40989b0cdc690ea.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 248px;
  z-index: -1;
}

.piers-header__image::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #005596 0%, rgba(0, 85, 150, 0) 100%);
}

@media screen and (max-width: 650px) {
  .piers-header__image::before {
    background: #FFFEF5;
  }
}
.piers {
    padding: 0;
    background-color: #FFFEF5;
}
.piers-photos {
  height: 634px;
  margin: 0;
  padding: 32px 0 24px 0;
  box-sizing: border-box;
  background-color: #fff;
}
@media screen and (max-width: 650px) {
    .piers-photos {
        height: 202px;
        padding: 24px 0 24px 0;
      }
}
.piers-photos__container {
  position: relative;
  justify-content: space-between;
  height: 100%;
}
.piers-photos__full-image {
  width: 600px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
@media screen and (max-width: 650px) {
    .piers-photos__full-image {
        position: absolute;
        display: none;
      }
}
.piers-photos__galery-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 224px;
  height: 154px;
  background-color: white;
  border-radius: 8px;
  margin: 0 20px 0 0;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #005596;
  box-shadow: 0px 1px 4px #005596;
  border-radius: 8px;
}
.piers-photos__galery-img {
  max-width: 100%;
  max-height: 100%;
}
.piers-photo__btn {
  top: 470px;
}
@media screen and (max-width: 650px) {
    .piers-photo__btn {
        top: 47px;
      }
}
.piers-photo__btn-prev {
  background-image: url(811d1fa2bc7ac7e1ccbb.svg);
  left: 0;
}
.piers-photo__btn-next {
  background-image: url(f555293b7e76a43a781c.svg);
  right: 0;
}
.read-blog {
  margin: 0;
  padding: 12px 0 57px 0;
  background-color: #FFFEF5;
}
.read-blog__title {
  font-size: 32px;
  line-height: 40px;
}
@media screen and (max-width: 650px) {
    .read-blog__title {
        font-size: 24px;
        line-height: 32px;
      }
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 344px;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
@media screen and (max-width: 860px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
      }
}
@media screen and (max-width: 650px) {
    .grid {
        grid-template-columns: 1fr;
      }
}
.grid__card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  overflow: hidden;
  transform: scale(1);
  transition: transform ease-in-out 0.4s;
}
.grid__card:hover {
  transform: scale(1.02);
}
.grid__card-link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.grid__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 264px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.grid__card-title {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  color: #005596;
  width: 100%;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 650px) {
    .grid__card-title {
        font-size: 18px;
        line-height: 24px;
      }
}
.card__grid {
  display: grid;
  grid-template-columns: calc((352 / 1120) * 100%) auto;
  grid-template-rows: auto max-content;
  /* row-gap: 24px; */
  column-gap: 32px;
}
@media screen and (max-width: 650px) {
    .card__grid {
        grid-template-columns: 1fr;
      }
}
.card__img {
  grid-row: 1 / 3;
  width: 100%;
  height: 404px;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
@media screen and (max-width: 650px) {
    .card__img {
        grid-row: 2 / 3;
      }
}
.contactbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 280px;
  background-color: rgba(86, 159, 211, 0.9);
}
@media screen and (max-width: 650px) {
    .contactbox {
        height: 488px;
      }
}
.contactbox__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 32px 0;
  width: 1120px;
}
@media screen and (max-width: 1300px) {
    .contactbox__container {
        width: 83%;
      }
}
@media screen and (max-width: 1200px) {
    .contactbox__container {
        width: calc((1069 / 1133) * 100%);
      }
}
@media screen and (max-width: 650px) {
    .contactbox__container {
        width: 91%;
        padding: 24px 0 16px 0;
      }
}
.contactbox__title {
  font-family: 'IBMPlexSerif', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  color: #fff;
}
@media screen and (max-width: 500px) {
    .contactbox__title {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 1px;
      }
}
.contactbox__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  padding: 0;
  margin: 24px 0 0 0;
}
.contactbox__fieldset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 88px;
  padding: 0;
  margin: 0;
  border: none;
}
@media screen and (max-width: 650px) {
    .contactbox__fieldset {
        flex-direction: column;
        height: 272px;
      }
}
.contactbox__user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 23%;
  height: 88px;
}
@media screen and (max-width: 650px) {
    .contactbox__user-info {
        width: 100%;
      }
}
.contactbox__user-data {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 0;
  padding: 5.5px 9px;
  color: #333333;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #005596;
  border-radius: 4px;
}
.contactbox__user-data::placeholder {
  color: #569fd3;
}
.contactbox__user-data:focus {
  outline: none;
  box-shadow: inset 0px 0px 5px #569fd3;
}

.contactbox__user-name {
  height: 32px;
}
.contactbox__user-email {
  height: 32px;
}
.contactbox__user-message {
  width: 74.5%;
  height: 88px;
  resize: none;
}
@media screen and (max-width: 650px) {
    .contactbox__user-message {
        height: 160px;
        width: 100%;
        margin: 24px 0 0 0;
      }
}
.contactbox__send-options {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 74.5%;
  padding: 0;
  margin: 16px 0 0 0;
}
@media screen and (max-width: 650px) {
    .contactbox__send-options {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 105px;
        margin: 24px 0 0 0;
      }
}
.contactbox__checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactbox__checkbox {
  width: 20px;
  height: 20px;
}
.contactbox__checkbox-label {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 0 0 0 8px;
  padding: 0;
  color: #fff;
}
.contactbox__checkbox-rules-link {
  text-decoration: underline;
  color: #fff;
}
.contactbox__submit-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 263px;
  height: 48px;
  background: #005596;
  border-radius: 99px;
  border: none;
  margin: 0;
  padding: 0 25px;
}
@media screen and (max-width: 650px) {
    .contactbox__submit-btn {
        width: 328px;
        padding: 0 57px;
      }
}
.contactbox__submit-btn-text {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  color: #fff;
}
.carousel_margin_zero {
  margin: 0;
  background-color: #005596;
}

.carousel__btn-next_color_light {
  background-image: url(5eefc8d0190a2395f834.svg);
}
.carousel__btn-prev_color_light {
  background-image: url(f5987c7171690a053347.svg);
}

h1{font-family:"IBMPlexSerif",Arial,sans-serif;font-style:normal;font-weight:700;font-size:32px;line-height:40px;text-rendering:optimizeLegibility;text-decoration:none;letter-spacing:1.5px;margin:0;padding:0;color:#fff;text-transform:uppercase;max-width:500px}@media screen and (max-width: 650px){h1{font-size:24px;line-height:32px;color:#005596}}h2{font-family:"IBMPlexSerif",Arial,sans-serif;font-style:normal;font-weight:700;font-size:24px;line-height:32px;text-rendering:optimizeLegibility;text-decoration:none;letter-spacing:1.5px;margin:48px 0 24px 0;padding:0;color:#005596;text-transform:uppercase}@media screen and (max-width: 650px){h2{font-size:20px;line-height:24px}}h4{font-family:"IBMPlexSerif",Arial,sans-serif;font-style:normal;font-weight:700;font-size:16px;line-height:16px;text-rendering:optimizeLegibility;text-decoration:none;letter-spacing:1.5px;margin:8px 0;padding:0;color:#005596;text-transform:uppercase}p{font-family:"Roboto",Arial,sans-serif;font-style:normal;font-weight:400;font-size:16px;line-height:24px;text-rendering:optimizeLegibility;text-decoration:none;letter-spacing:0;margin:0 0 8px 0;padding:0;color:#333}p:last-of-type{margin:0}@media screen and (max-width: 650px){p{font-size:14px;line-height:16px}}.card__container h2{margin:0}@media screen and (max-width: 650px){.card__container h2{margin:0 0 24px 0}}ul{margin:16px 0 0 0;padding:0 0 0 40px}li{font-family:"Roboto",Arial,sans-serif;font-style:normal;font-weight:400;font-size:16px;line-height:24px;text-rendering:optimizeLegibility;text-decoration:none;letter-spacing:0;margin:0 0 8px 0;padding:0;color:#333}li:last-of-type{margin:0}
