.post-header {
  position: relative;
  height: 248px;
  box-sizing: border-box;
}
@media screen and (max-width: 650px) {
  .post-header {
    height: fit-content;
  }
}

.post-header__container {
  padding: 24px 0 0 0;
}

@media screen and (max-width: 650px) {
  .post-header__container {
    padding: 16px 0 0 0;
  }
}

.post-header__image {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/piers-header.png');
  background-position: center;
  width: 100%;
  height: 248px;
  z-index: -1;
}
@media screen and (max-width: 650px) {
  .post-header__image {
    display: none;
  }
}
.post-header__image::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #005596 0%, rgba(0, 85, 150, 0) 100%);
}

.post-header__title {
  font-family: 'IBMPlexSerif', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 1.5px;
  margin: 0;
  padding: 0;
  color: #fff;
  text-transform: uppercase;
  max-width: 500px;
}
@media screen and (max-width: 650px) {
  .post-header__title {
    font-size: 24px;
    line-height: 32px;
    color: #005596;
  }
}

.post-header__back-and-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 52px 0;
}

@media screen and (max-width: 650px) {
  .post-header__back-and-form {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 32px 0;
  }
}

.post-header__link-back {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 165px;
}

@media screen and (max-width: 650px) {
  .post-header__link-back {
    margin: 0 0 16px 0;
  }
}
.post-header__link-back-text {
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: underline;
}

@media screen and (max-width: 650px) {
  .post-header__link-back-text {
    color: #005596;
  }
}

.post-header__form {
  position: relative;
  top: 0;
  right: 0;
  width: 352px;
}

@media screen and (max-width: 650px) {
  .post-header__form {
    width: 100%;
  }
}

.post-tags {
  margin: 0 0 20px 0;
}
