.carousel__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc((1120 / 1440) * 100%);
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1300px) {
    .carousel__container {
        width: 83%;
      }
}
@media screen and (max-width: 1200px) {
    .carousel__container {
        width: calc((1069 / 1133) * 100%);
      }
}
@media screen and (max-width: 650px) {
    .carousel__container {
        width: 91%;
      }
}