.piers-photos__full-image {
  width: 600px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
@media screen and (max-width: 650px) {
    .piers-photos__full-image {
        position: absolute;
        display: none;
      }
}