.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 1120px;
  height: 100%;
}
@media screen and (max-width: 1300px) {
    .header__container {
        width: 83%;
      }
}
@media screen and (max-width: 1200px) {
    .header__container {
        width: 97%;
      }
}
@media screen and (max-width: 650px) {
    .header__container {
        width: 91%;
      }
}