.menu__logo-text {
  font-family: 'IBMPlexSerif', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 0 0 0 16px;
  padding: 0;
  color: #005596;
}