.card__img {
  float: left;
  width: 40%;
  height: fit-content;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  margin: 0 30px 15px 0;
}
@media screen and (max-width: 650px) {
  .card__img {
    width: 100%;
    margin: 0 0 15px 0;
  }
}
