.search__title {
  font-family: 'IBMPlexSerif', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 1.5px;
  margin: 0 0 24px 0;
  padding: 0;
  color: #005596;
  text-transform: uppercase;
}
@media screen and (max-width: 650px) {
    .search__title {
        font-size: 24px;
        line-height: 32px;
      }
}