.marinas-project__grid-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  transition: none;
}
.marinas-project__grid-card:hover {
  transform: none;
}