.about__history {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 32px 0 0 0;
}
@media screen and (max-width: 500px) {
    .about__history {
        margin: 24px 0 0 0;
      }
}