.header__navigation-item-link {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 0;
  padding: 0 0 11px 0;
  border-bottom: 4px solid #569fd3;
  color: #fff;
}