@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(./blocks/link/link.css);
@import url(./blocks/button/button.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__logo-container/header__logo-container.css);
@import url(./blocks/header/__logo-text/header__logo-text.css);
@import url(./blocks/header/__phone-number-and-navigation/header__phone-number-and-navigation.css);
@import url(./blocks/header/__phone-number/header__phone-number.css);
@import url(./blocks/header/__phones/header__phones.css);
@import url(./blocks/header/__phone-number/_underline/header__phone-number_underline.css);
@import url(./blocks/header/__navigation/header__navigation.css);
@import url(./blocks/header/__navigation-list/header__navigation-list.css);
@import url(./blocks/header/__navigation-item/header__navigation-item.css);
@import url(./blocks/header/__navigation-item-link/header__navigation-item-link.css);
@import url(./blocks/header/__navigation-item-link/_active/header__navigation-item-link_active.css);
@import url(./blocks/header/__youtube-and-lang-switch/header__youtube-and-lang-switch.css);
@import url(./blocks/youtube-link/youtube-link.css);
@import url(./blocks/youtube-logo-path/youtube-logo-path.css);
@import url(./blocks/youtube-logo/youtube-logo.css);
@import url(./blocks/header/__lang-switch/header__lang-switch.css);
@import url(./blocks/header/__lang/header__lang.css);
@import url(./blocks/header/__lang/_active/header__lang_active.css);
@import url(./blocks/header/__open-menu-button/header__open-menu-button.css);
@import url(./blocks/main/main.css);

@import url(./blocks/section/section.css);
@import url(./blocks/container/container.css);
@import url(./blocks/piers-header/piers-header.css);
@import url(./blocks/piers-header/__container/piers-header__container.css);
@import url(./blocks/piers-header/__title/piers-header__title.css);
@import url(./blocks/piers-header/__image/piers-header__image.css);
/* @import url(./blocks/section/__text/section__text.css); */
/* @import url(./blocks/section/__title/section__title.css); */
/* @import url(./blocks/section/__subtitle/section__subtitle.css); */
@import url(./blocks/piers/piers.css);
@import url(./blocks/piers-photos/piers-photos.css);
@import url(./blocks/piers-photos/__container/piers-photos__container.css);
@import url(./blocks/piers-photos/__full-image/piers-photos__full-image.css);
@import url(./blocks/piers-photos/__galery-item/piers-photos__galery-item.css);
@import url(./blocks/piers-photos/__galery-img/piers-photos__galery-img.css);
@import url(./blocks/piers-photo/__btn/piers-photo__btn.css);
@import url(./blocks/piers-photo/__btn-prev/piers-photo__btn-prev.css);
@import url(./blocks/piers-photo/__btn-next/piers-photo__btn-next.css);
@import url(./blocks/read-blog/read-blog.css);
@import url(./blocks/read-blog/__title/read-blog__title.css);
@import url(./blocks/grid/grid.css);
@import url(./blocks/grid/__card/grid__card.css);
@import url(./blocks/grid/__card-link/grid__card-link.css);
@import url(./blocks/grid/__img/grid__img.css);
@import url(./blocks/grid/__card-title/grid__card-title.css);

@import url(./blocks/contactbox/contactbox.css);
@import url(./blocks/contactbox/__container/contactbox__container.css);
@import url(./blocks/contactbox/__title/contactbox__title.css);
@import url(./blocks/contactbox/__form/contactbox__form.css);
@import url(./blocks/contactbox/__fieldset/contactbox__fieldset.css);
@import url(./blocks/contactbox/__user-info/contactbox__user-info.css);
@import url(./blocks/contactbox/__user-data/contactbox__user-data.css);
@import url(./blocks/contactbox/__user-name/contactbox__user-name.css);
@import url(./blocks/contactbox/__user-email/contactbox__user-email.css);
@import url(./blocks/contactbox/__user-message/contactbox__user-message.css);
@import url(./blocks/contactbox/__send-options/contactbox__send-options.css);
@import url(./blocks/contactbox/__checkbox-container/contactbox__checkbox-container.css);
@import url(./blocks/contactbox/__checkbox/contactbox__checkbox.css);
@import url(./blocks/contactbox/__checkbox-label/contactbox__checkbox-label.css);
@import url(./blocks/contactbox/__checkbox-rules-link/contactbox__checkbox-rules-link.css);
@import url(./blocks/contactbox/__submit-btn/contactbox__submit-btn.css);
@import url(./blocks/contactbox/__submit-btn-text/contactbox__submit-btn-text.css);
@import url(./blocks/carousel/_margin/carousel_margin_zero.css);
@import url(./blocks/carousel/carousel.css);
@import url(./blocks/carousel/__container/carousel__container.css);
@import url(./blocks/carousel/__btn/carousel__btn.css);
@import url(./blocks/carousel/__btn-prev/carousel__btn-prev.css);
@import url(./blocks/carousel/__galery/carousel__galery.css);
@import url(./blocks/carousel/__galery-list/carousel__galery-list.css);
@import url(./blocks/carousel/__galery-item/carousel__galery-item.css);
@import url(./blocks/carousel/__galery-item-link/carousel__galery-item-link.css);
@import url(./blocks/carousel/__galery-logo/carousel__galery-logo.css);
@import url(./blocks/carousel/__btn-next/carousel__btn-next.css);

@import url(./blocks/carousel/__btn-next/_color/carousel__btn-next_color_light.css);
@import url(./blocks/carousel/__btn-prev/_color/carousel__btn-prev_color_light.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__container/footer__container.css);
@import url(./blocks/footer/__logo/footer__logo.css);
@import url(./blocks/footer/__text-container/footer__text-container.css);
@import url(./blocks/footer/__navigation/footer__navigation.css);
@import url(./blocks/footer/__navigation-list/footer__navigation-list.css);
@import url(./blocks/footer/__navigation-item/footer__navigation-item.css);
@import url(./blocks/footer/__navigation-item-link/footer__navigation-item-link.css);
@import url(./blocks/footer/__adress/footer__adress.css);
@import url(./blocks/footer/__adress-post/footer__adress-post.css);
@import url(./blocks/footer/__adress-phone/footer__adress-phone.css);
@import url(./blocks/footer/__copyright-and-external-links/footer__copyright-and-external-links.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/footer/__youtube-link/footer__youtube-link.css);
@import url(./blocks/menu/menu.css);
@import url(./blocks/menu/_opened/menu_opened.css);
@import url(./blocks/menu/__container/menu__container.css);
@import url(./blocks/menu/__container/_opened/menu__container_opened.css);
@import url(./blocks/menu/__top/menu__top.css);
@import url(./blocks/menu/__logo-container/menu__logo-container.css);
@import url(./blocks/menu/__logo-img/menu__logo-img.css);
@import url(./blocks/menu/__logo-text/menu__logo-text.css);
@import url(./blocks/menu/__top-right/menu__top-right.css);
@import url(./blocks/menu/__phone/menu__phone.css);
@import url(./blocks/menu/__youtube-link/menu__youtube-link.css);
@import url(./blocks/menu/__lang-switch/menu__lang-switch.css);
@import url(./blocks/menu/__lang-switch-front/menu__lang-switch-front.css);
@import url(./blocks/menu/__lang-switch-front/_right/menu__lang-switch-front_right.css);
@import url(./blocks/menu/__lang/menu__lang.css);
@import url(./blocks/menu/__lang/_active/menu__lang_active.css);
@import url(./blocks/menu/__close-btn/menu__close-btn.css);
@import url(./blocks/menu/__navigation/menu__navigation.css);
@import url(./blocks/menu/__navigation-list/menu__navigation-list.css);
@import url(./blocks/menu/__navigation-item/menu__navigation-item.css);
@import url(./blocks/menu/__navigation-btn/menu__navigation-btn.css);
@import url(./blocks/menu/__youtube-link-large/menu__youtube-link-large.css);
@import url(./blocks/menu/__youtube-logo-large/menu__youtube-logo-large.css);
@import url(./blocks/menu/__copyright/menu__copyright.css);

/* Заголовок */
h2 {
  font-family: 'IBMPlexSerif', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 1.5px;
  margin: 48px 0 24px 0;
  padding: 0;
  color: #005596;
  text-transform: uppercase;
}

@media screen and (max-width: 650px) {
  h2 {
    font-size: 20px;
    line-height: 24px;
  }
}

/* Подзаголовок */
h4 {
  font-family: 'IBMPlexSerif', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 1.5px;
  margin: 8px 0;
  padding: 0;
  color: #005596;
  text-transform: uppercase;
}

/* Текст */
p {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 0 0 8px 0;
  padding: 0;
  color: #333333;
}

/* Стили для последнего параграфа текста в блоке */
p:last-of-type {
  margin: 0;
}

@media screen and (max-width: 650px) {
  p {
    font-size: 14px;
    line-height: 16px;
  }
}
