.about__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc((1120 / 1440) * 100%);
}
@media screen and (max-width: 1300px) {
    .about__container {
        width: 83%;
      }
}
@media screen and (max-width: 1200px) {
    .about__container {
        width: calc((1069 / 1133) * 100%);
      }
}
@media screen and (max-width: 650px) {
    .about__container {
        width: 91%;
      }
}