.section__text {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 0 0 8px 0;
  padding: 0;
  color: #333333;
}

.section__text:last-of-type {
  margin: 0;
}

@media screen and (max-width: 650px) {
  .section__text {
    font-size: 14px;
    line-height: 16px;
    }
}